<script setup lang="ts">
import { RouterView } from 'vue-router'
</script>

<template>
	<RouterView
		v-slot="{ Component }"
		name="header"
	>
		<Transition
			mode="out-in"
			name="fade"
			appear
		>
			<component :is="Component" />
		</Transition>
	</RouterView>

	<main>
		<RouterView v-slot="{ Component, route }">
			<Transition
				mode="out-in"
				name="fade"
				appear
			>
				<component
					:is="Component"
					:key="route.fullPath"
				/>
			</Transition>
		</RouterView>
	</main>
</template>
