<script setup lang="ts">
</script>

<template>
	<header class="sticky rounded-b-md shadow-md top-0 z-50 w-full max-w-[1736px] mx-auto border-b bg-blue-100/95 backdrop-blur supports-[backdrop-filter]:bg-blue-100/60">
		<div class="container mx-auto h-10 flex items-center">
			<div>
				header?
			</div>
		</div>
	</header>
</template>
