<template>
	<section class="container mx-auto">
		<div class="my-6">
			Catalogue Page
		</div>
		<RouterLink
			class="px-2 py-1 rounded shadow bg-white font-mono text-sm"
			:to="{ name: 'Main' }"
		>
			To main
		</RouterLink>
	</section>
</template>
